@charset "UTF-8";

* {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	
}

body {
	background-color: gray;
}

h1 {
	font-weight: bold;
}

table {
	margin: 1vh auto;
	width: 80%;
	height: 30vh;
	border-collapse: collapse;
}

#tableHead {
	background-color: black;
	color: white;
}

tr:nth-child(even) {
	background-color: lightgray;
}

tr:nth-child(odd) {
	background-color: white;
}

td {
	text-align: center;
	border-left: 1px solid black;
}

th {
	text-align: center;
	border-left: 1px solid black;
}